<!doctype html>

<html>
    
    <head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/ajax_test.js') }}"></script>
        
        <title>Stuff</title>
    </head>

    <body>

	<input type="text" name="word">
	<ul>

	</ul>

    </body>
    <script>
	categories={};	
	function create(text){
	        return "<li>"+text+"</li>";
	}	

        $(document).ready( 
		$("input").keypress(function(e){
			var input =$("input");
			if(e.which == 13){
				addWord(input.val());
				$("ul").append(create(input.val()));
				input.val("");
			}
		})
	);
    </script>

</html>
