<!doctype html>

<html>
    
    <head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/ajax_test.js') }}"></script>
        
        <title>Stuff</title>
    </head>

    <body>
	<input type="text" name="word">
	<div id="stuff">
	</div>
    </body>
    <script>
	categories=[];	
	function create(text){
	        return "<li>"+text+"</li>";
	}	
	function update(){
		$('#stuff').empty();
		for(var i = 0; i < categories.length; i++){
			$("#stuff").append("<ul>");			
			for(var j = 0; j < categories[i].length; j++){
				$("#stuff").append(create(categories[i][j]));
			}
			$("#stuff").append("</ul>");
		}
	}

        $(document).ready( 
		$("input").keypress(function(e){
			var input =$("input");
			if(e.which == 13){
				addWord(input.val());
				input.val("");
			}
		})
	);
    </script>

</html>
